In [0]:
%matplotlib inline
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import pylab as pl

In [2]:
df= pd.read_csv('application_train.csv')
df.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      157876       0  ...                       0.0                        1.0
1      157878       0  ...                       1.0                        2.0
2      157879       0  ...                       0.0                        3.0
3      157880       0  ...                       1.0                        1.0
4      157881       0  ...                       NaN                        NaN

[5 rows x 122 columns]

In [3]:
features=["DAYS_BIRTH","AMT_CREDIT","YEARS_BUILD_AVG","AMT_ANNUITY","EXT_SOURCE_2","EXT_SOURCE_3","LANDAREA_AVG","APARTMENTS_AVG","BASEMENTAREA_AVG","REGION_RATING_CLIENT_W_CITY","REGION_RATING_CLIENT","EXT_SOURCE_1","FLAG_WORK_PHONE","FLAG_OWN_CAR","FLAG_OWN_REALTY","DAYS_EMPLOYED","NAME_EDUCATION_TYPE","CODE_GENDER","REG_REGION_NOT_LIVE_REGION","REG_REGION_NOT_WORK_REGION","LIVE_CITY_NOT_WORK_CITY","LIVE_REGION_NOT_WORK_REGION","REG_CITY_NOT_LIVE_CITY","REG_CITY_NOT_WORK_CITY","NAME_FAMILY_STATUS","NAME_INCOME_TYPE","CNT_CHILDREN","ELEVATORS_AVG","ENTRANCES_AVG","REGION_POPULATION_RELATIVE","AMT_INCOME_TOTAL","AMT_GOODS_PRICE","CNT_FAM_MEMBERS","FLAG_CONT_MOBILE","NAME_TYPE_SUITE","NAME_HOUSING_TYPE","OCCUPATION_TYPE","NAME_CONTRACT_TYPE","OWN_CAR_AGE"]
df1=df[features]
y=df["TARGET"]
df1.head()

   DAYS_BIRTH  AMT_CREDIT  ...  NAME_CONTRACT_TYPE  OWN_CAR_AGE
0      -19421    343800.0  ...          Cash loans          NaN
1      -15322    945000.0  ...          Cash loans          6.0
2      -11120    540000.0  ...     Revolving loans          NaN
3      -11824    295168.5  ...          Cash loans          NaN
4      -22102    298512.0  ...          Cash loans          NaN

[5 rows x 39 columns]

In [4]:
cd=df1.isnull().sum()
cd=cd[cd>0]
cd.sort_values(ascending=True)

AMT_ANNUITY             6
AMT_GOODS_PRICE        45
EXT_SOURCE_2           98
NAME_TYPE_SUITE       233
EXT_SOURCE_3        10715
OCCUPATION_TYPE     16869
ENTRANCES_AVG       27206
APARTMENTS_AVG      27431
ELEVATORS_AVG       28874
EXT_SOURCE_1        30467
BASEMENTAREA_AVG    31615
LANDAREA_AVG        32014
OWN_CAR_AGE         35840
YEARS_BUILD_AVG     35882
dtype: int64

In [5]:
df1.fillna(0.5,inplace=True)
cd=df1.isnull().sum()
cd=cd[cd>0]
cd.sort_values(ascending=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

Series([], dtype: int64)

In [6]:
d1={'Low-skill Laborers':1,'Laborers':2,'Drivers':4,'Cleaning staff':3,'Cooking staff':5,'Security staff':6,'Waiters/barmen staff':7,'Medicine staff':8,'Realty agents':9,'Sales staff':10,'Private service staff':11,'IT staff':12,'Accountants':13,'Core staff':14,'Managers':15,'HR staff':16,'High skill tech staff':17,'Secretaries':18,0:0}
df1['OCCUPATION_TYPE']=df1['OCCUPATION_TYPE'].map(d1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
d2={'N':0,'Y':100}
df1['FLAG_OWN_CAR']=df1['FLAG_OWN_CAR'].map(d2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
d1={'Lower secondary':1,'Secondary / secondary special':2,'Higher education':4,'Incomplete higher':3,'Academic degree':5}
df1['NAME_EDUCATION_TYPE']=df1['NAME_EDUCATION_TYPE'].map(d1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
d2={'N':0,'Y':200}
df1['FLAG_OWN_REALTY']=df1['FLAG_OWN_REALTY'].map(d2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
d4={'F':1.5,'M':1.2,'XNA':0.7}
df1['CODE_GENDER']=df1['CODE_GENDER'].map(d4)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
d10={'Unknown':0,'Widow':2,'Separated':1,'Civil marriage':7,'Single / not married':5,'Married':6}
df1['NAME_FAMILY_STATUS']=df1['NAME_FAMILY_STATUS'].map(d10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
d5={'Unemployed':0,'Student':1.5,'Pensioner':2,'Maternity leave':4,'Businessman':5,'Working':4.5,'Commercial associate':3.5,'State servant':10}
df1['NAME_INCOME_TYPE']=df1['NAME_INCOME_TYPE'].map(d5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
d5={'Rented apartment':1,'With parents':9,'House / apartment':7,'Co-op apartment':5,'Office apartment':11,'Municipal apartment':13}
df1['NAME_HOUSING_TYPE']=df1['NAME_HOUSING_TYPE'].map(d5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
d6={'Unaccompanied':3.5,'Family':8,'Spouse, partner':6,'Children':10,'Other_B':5,'Other_A':4.5,'Group of people':20,0:0}
df1['NAME_TYPE_SUITE']=df1['NAME_TYPE_SUITE'].map(d6)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
d7={'Cash loans':5,'Revolving loans':10}
df1['NAME_CONTRACT_TYPE']=df1['NAME_CONTRACT_TYPE'].map(d7)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
df1.isnull().sum()

DAYS_BIRTH                         0
AMT_CREDIT                         0
YEARS_BUILD_AVG                    0
AMT_ANNUITY                        0
EXT_SOURCE_2                       0
EXT_SOURCE_3                       0
LANDAREA_AVG                       0
APARTMENTS_AVG                     0
BASEMENTAREA_AVG                   0
REGION_RATING_CLIENT_W_CITY        0
REGION_RATING_CLIENT               0
EXT_SOURCE_1                       0
FLAG_WORK_PHONE                    0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
DAYS_EMPLOYED                      0
NAME_EDUCATION_TYPE                0
CODE_GENDER                        0
REG_REGION_NOT_LIVE_REGION         0
REG_REGION_NOT_WORK_REGION         0
LIVE_CITY_NOT_WORK_CITY            0
LIVE_REGION_NOT_WORK_REGION        0
REG_CITY_NOT_LIVE_CITY             0
REG_CITY_NOT_WORK_CITY             0
NAME_FAMILY_STATUS                 0
NAME_INCOME_TYPE                   0
CNT_CHILDREN                       0
ELEVATORS_AVG                      0
ENTRANCES_AVG                      0
REGION_POPULATION_RELATIVE         0
AMT_INCOME_TOTAL                   0
AMT_GOODS_PRICE                    0
CNT_FAM_MEMBERS                    0
FLAG_CONT_MOBILE                   0
NAME_TYPE_SUITE                  233
NAME_HOUSING_TYPE                  0
OCCUPATION_TYPE                16869
NAME_CONTRACT_TYPE                 0
OWN_CAR_AGE                        0
dtype: int64

In [17]:
df1.fillna(0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [18]:
df1.isnull().sum()

DAYS_BIRTH                     0
AMT_CREDIT                     0
YEARS_BUILD_AVG                0
AMT_ANNUITY                    0
EXT_SOURCE_2                   0
EXT_SOURCE_3                   0
LANDAREA_AVG                   0
APARTMENTS_AVG                 0
BASEMENTAREA_AVG               0
REGION_RATING_CLIENT_W_CITY    0
REGION_RATING_CLIENT           0
EXT_SOURCE_1                   0
FLAG_WORK_PHONE                0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
DAYS_EMPLOYED                  0
NAME_EDUCATION_TYPE            0
CODE_GENDER                    0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_CITY_NOT_WORK_CITY        0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
NAME_FAMILY_STATUS             0
NAME_INCOME_TYPE               0
CNT_CHILDREN                   0
ELEVATORS_AVG                  0
ENTRANCES_AVG                  0
REGION_POPULATION_RELATIVE     0
AMT_INCOME_TOTAL               0
AMT_GOODS_PRICE                0
CNT_FAM_MEMBERS                0
FLAG_CONT_MOBILE               0
NAME_TYPE_SUITE                0
NAME_HOUSING_TYPE              0
OCCUPATION_TYPE                0
NAME_CONTRACT_TYPE             0
OWN_CAR_AGE                    0
dtype: int64

In [0]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
X=preprocessing.StandardScaler().fit(df1).transform(df1)

In [20]:
df1.isnull().sum()

DAYS_BIRTH                     0
AMT_CREDIT                     0
YEARS_BUILD_AVG                0
AMT_ANNUITY                    0
EXT_SOURCE_2                   0
EXT_SOURCE_3                   0
LANDAREA_AVG                   0
APARTMENTS_AVG                 0
BASEMENTAREA_AVG               0
REGION_RATING_CLIENT_W_CITY    0
REGION_RATING_CLIENT           0
EXT_SOURCE_1                   0
FLAG_WORK_PHONE                0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
DAYS_EMPLOYED                  0
NAME_EDUCATION_TYPE            0
CODE_GENDER                    0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_CITY_NOT_WORK_CITY        0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
NAME_FAMILY_STATUS             0
NAME_INCOME_TYPE               0
CNT_CHILDREN                   0
ELEVATORS_AVG                  0
ENTRANCES_AVG                  0
REGION_POPULATION_RELATIVE     0
AMT_INCOME_TOTAL               0
AMT_GOODS_PRICE                0
CNT_FAM_MEMBERS                0
FLAG_CONT_MOBILE               0
NAME_TYPE_SUITE                0
NAME_HOUSING_TYPE              0
OCCUPATION_TYPE                0
NAME_CONTRACT_TYPE             0
OWN_CAR_AGE                    0
dtype: int64

In [21]:
df2=pd.read_csv("application_test.csv")
df2.head()

   SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
0      100002  ...                        1.0
1      100003  ...                        0.0
2      100004  ...                        0.0
3      100006  ...                        NaN
4      100007  ...                        0.0

[5 rows x 121 columns]

In [22]:
features=["DAYS_BIRTH","AMT_CREDIT","YEARS_BUILD_AVG","AMT_ANNUITY","EXT_SOURCE_2","EXT_SOURCE_3","LANDAREA_AVG","APARTMENTS_AVG","BASEMENTAREA_AVG","REGION_RATING_CLIENT_W_CITY","REGION_RATING_CLIENT","EXT_SOURCE_1","FLAG_WORK_PHONE","FLAG_OWN_CAR","FLAG_OWN_REALTY","DAYS_EMPLOYED","NAME_EDUCATION_TYPE","CODE_GENDER","REG_REGION_NOT_LIVE_REGION","REG_REGION_NOT_WORK_REGION","LIVE_CITY_NOT_WORK_CITY","LIVE_REGION_NOT_WORK_REGION","REG_CITY_NOT_LIVE_CITY","REG_CITY_NOT_WORK_CITY","NAME_FAMILY_STATUS","NAME_INCOME_TYPE","CNT_CHILDREN","ELEVATORS_AVG","ENTRANCES_AVG","REGION_POPULATION_RELATIVE","AMT_INCOME_TOTAL","AMT_GOODS_PRICE","CNT_FAM_MEMBERS","FLAG_CONT_MOBILE","NAME_TYPE_SUITE","NAME_HOUSING_TYPE","OCCUPATION_TYPE","NAME_CONTRACT_TYPE","OWN_CAR_AGE"]
X1=df2[features]
X1.head()

   DAYS_BIRTH  AMT_CREDIT  ...  NAME_CONTRACT_TYPE  OWN_CAR_AGE
0       -9461    406597.5  ...          Cash loans          NaN
1      -16765   1293502.5  ...          Cash loans          NaN
2      -19046    135000.0  ...     Revolving loans         26.0
3      -19005    312682.5  ...          Cash loans          NaN
4      -19932    513000.0  ...          Cash loans          NaN

[5 rows x 39 columns]

In [23]:
cd=X1.isnull().sum()
cd=cd[cd>0]
cd.sort_values(ascending=True)

AMT_ANNUITY             1
CNT_FAM_MEMBERS         1
AMT_GOODS_PRICE        38
EXT_SOURCE_2          126
NAME_TYPE_SUITE       192
EXT_SOURCE_3         9944
OCCUPATION_TYPE     15654
ENTRANCES_AVG       25195
APARTMENTS_AVG      25385
ELEVATORS_AVG       26651
EXT_SOURCE_1        28172
BASEMENTAREA_AVG    29199
LANDAREA_AVG        29721
OWN_CAR_AGE         32950
YEARS_BUILD_AVG     33239
dtype: int64

In [24]:
X1.fillna(0,inplace=True)
cd=X1.isnull().sum()
cd=cd[cd>0]
cd.sort_values(ascending=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

Series([], dtype: int64)

In [25]:
d1={'Low-skill Laborers':1,'Laborers':2,'Drivers':4,'Cleaning staff':3,'Cooking staff':5,'Security staff':6,'Waiters/barmen staff':7,'Medicine staff':8,'Realty agents':9,'Sales staff':10,'Private service staff':11,'IT staff':12,'Accountants':13,'Core staff':14,'Managers':15,'HR staff':16,'High skill tech staff':17,'Secretaries':18,0:0}
X1['OCCUPATION_TYPE']=X1['OCCUPATION_TYPE'].map(d1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
d2={'N':0,'Y':100}
X1['FLAG_OWN_CAR']=X1['FLAG_OWN_CAR'].map(d2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
d1={'Lower secondary':1,'Secondary / secondary special':2,'Higher education':4,'Incomplete higher':3,'Academic degree':5}
X1['NAME_EDUCATION_TYPE']=X1['NAME_EDUCATION_TYPE'].map(d1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
d2={'N':0,'Y':200}
X1['FLAG_OWN_REALTY']=X1['FLAG_OWN_REALTY'].map(d2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
d4={'F':1.5,'M':1.2,'XNA':0.7}
X1['CODE_GENDER']=X1['CODE_GENDER'].map(d4)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
d10={'Unknown':0,'Widow':2,'Separated':1,'Civil marriage':7,'Single / not married':5,'Married':6}
X1['NAME_FAMILY_STATUS']=X1['NAME_FAMILY_STATUS'].map(d10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
d5={'Unemployed':0,'Student':1.5,'Pensioner':2,'Maternity leave':4,'Businessman':5,'Working':4.5,'Commercial associate':3.5,'State servant':10}
X1['NAME_INCOME_TYPE']=X1['NAME_INCOME_TYPE'].map(d5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:




d5={'Rented apartment':1,'With parents':9,'House / apartment':7,'Co-op apartment':5,'Office apartment':11,'Municipal apartment':13}
X1['NAME_HOUSING_TYPE']=X1['NAME_HOUSING_TYPE'].map(d5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
d6={'Unaccompanied':3.5,'Family':8,'Spouse, partner':6,'Children':10,'Other_B':5,'Other_A':4.5,'Group of people':20,0:0}
X1['NAME_TYPE_SUITE']=X1['NAME_TYPE_SUITE'].map(d6)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
d7={'Cash loans':5,'Revolving loans':10}
X1['NAME_CONTRACT_TYPE']=X1['NAME_CONTRACT_TYPE'].map(d7)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
X2=preprocessing.StandardScaler().fit(X1).transform(X1)

In [36]:
X1.isnull().sum()

DAYS_BIRTH                     0
AMT_CREDIT                     0
YEARS_BUILD_AVG                0
AMT_ANNUITY                    0
EXT_SOURCE_2                   0
EXT_SOURCE_3                   0
LANDAREA_AVG                   0
APARTMENTS_AVG                 0
BASEMENTAREA_AVG               0
REGION_RATING_CLIENT_W_CITY    0
REGION_RATING_CLIENT           0
EXT_SOURCE_1                   0
FLAG_WORK_PHONE                0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
DAYS_EMPLOYED                  0
NAME_EDUCATION_TYPE            0
CODE_GENDER                    0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_CITY_NOT_WORK_CITY        0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
NAME_FAMILY_STATUS             0
NAME_INCOME_TYPE               0
CNT_CHILDREN                   0
ELEVATORS_AVG                  0
ENTRANCES_AVG                  0
REGION_POPULATION_RELATIVE     0
AMT_INCOME_TOTAL               0
AMT_GOODS_PRICE                0
CNT_FAM_MEMBERS                0
FLAG_CONT_MOBILE               0
NAME_TYPE_SUITE                0
NAME_HOUSING_TYPE              0
OCCUPATION_TYPE                0
NAME_CONTRACT_TYPE             0
OWN_CAR_AGE                    0
dtype: int64

In [37]:
from sklearn import svm
clf = svm.SVC(kernel='rbf',gamma='auto',random_state=0)
clf.fit(X,y) 

ypredict=clf.predict(X2)
print(ypredict[:20])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [38]:
submission=pd.DataFrame({'SK_ID_CURR':df2['SK_ID_CURR'],'TARGET':ypredict})
submission.isnull().sum()

SK_ID_CURR    0
TARGET        0
dtype: int64

In [39]:
filename = 'House Price5.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: House Price5.csv